{% extends 'base.html' %}
{% load static %}

{% block title %}
Item Sumber Daya
{% endblock title %}


{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Tambah Item Sumber Daya</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h5 class="message" style="text-align: center; color: red;">{{ message }}</h5>
    <br>
    <div class="row justify-content-center">
        <div class="login">
            <form method="POST" action="/ItemSumberDaya/buatItemSumberDaya/">
                {% csrf_token %}

                <div class="card" style="width: 450px;">
                    <div class="card-body">
                        {{form.as_p}}

                        <label class="label" for="kode_tipe_item">Kode Tipe Item</label>
                        <select class="form-control" name="kode_tipe_item" id="kode_tipe_item">
                            <option disabled selected value> -- Pilih Kode Tipe Item -- </option>
                            {% for row in kode_tipe_item %}
                            <option value="{{row.kode}}">{{row.kode}}</option>
                            {% endfor %}
                        </select>

                        <br>
                        <div class="kode_tipe" id="kode_tipe"></div>

                        <br>

                        <input type="submit" value="Save" name="tombol" class="btn btn-primary btn-block">

                    </div>
                </div>

            </form>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#kode_tipe_item").change(function () {
        var id = $("#kode_tipe_item").val();
        console.log(id);

        $.ajax({
            url: '/getTipeItem/' + id,
            success: function (table) {
                $("#kode_tipe").empty();
                $("#kode_tipe").append("<label class='label' for='kode_tipe'>Tipe Item:</label>" +
                    "<textarea class='form-control' type='text' rows='3' placeholder='" + table[0][0] + "' aria-label='Disabled input example' disabled></textarea>");
            }
        })
    })

</script>

{% endblock content %}