{% extends 'base.html' %}
{% load static %}

{% block title %}
Permohonan Sumber Daya
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Item Sumber Daya</h2>
<div style="height: 20px;"></div>

<div class="container">
    {% if message != null %}
    <div class="card text-white bg-success">
        <div class="card-body">
            {{message}}
        </div>
    </div>
    {% endif %}

    <div style="height: 40px;"></div>
    <div style="text-align: center;">
        {% if role_supplier %}
        <a type="button" href="/ItemSumberDaya/buatItemSumberDaya" class="btn btn-primary btn-lg">Tambahkan Item Sumber Daya</a>
        {% endif %}
    </div>
    <div style="height: 20px;"></div>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="row">Kode</th>
                <th scope="row">Supplier</th>
                <th scope="row">Nama Item</th>
                <th scope="row">Harga Satuan</th>
                <th scope="row">Berat Satuan (kg)</th>
                <th scope="row">Tipe Item</th>
                {% if role_supplier %}
                <th scope="row">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <td>{{ row.kode }}</td>
                <td>{{ row.username_supplier }}</td>
                <td>{{ row.nama }}</td>
                <td>{{ row.harga_satuan }}</td>
                <td>{{ row.berat_satuan }}</td>
                <td>{{ row.nama_tipe_item }}</td>
                <td>
                    {% if role_supplier %}
                    {% if row.username_supplier == username %}
                    <a href="/ItemSumberDaya/updateItemSumberDaya/{{ row.kode }}" type="button" class="btn btn-warning">EDIT</a>
                    <a href="/deleteItemSumberDaya/{{ row.kode }}" type="button" class="btn btn-outline-danger"><img
                            style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a>
                    {% else %}
                    -
                    {% endif %}
                    {% endif %}

                    {% endfor %}

                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}