{% extends 'base.html' %}
{% load static %}

{% block title %}
    Pesanan Sumber Daya
{% endblock title %}


{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Tambah Pesanan Sumber Daya</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">    
      <form method="POST" action="/createPesanan/">
        {% csrf_token %}
        
        <div class="card" style="width: 450px;">
          <div class="card-body">
            
            <br>
            <label class="label" for="nomor_transaksi">Nomor Transaksi:</label>
            <input class="form-control" type="text" placeholder="TOR{{no_transaksi}}" aria-label="Disabled input example" disabled>
            <br>

            <label class="label" for="admin_satgas">Petugas:</label>
            <input class="form-control" type="text" placeholder="{{nama_petugas}}" aria-label="Disabled input example" disabled>
            <br>

            <label class="label" for="supplier">Pilih Supplier:</label>
            <select class="form-control" name="supplier" id="supplier">
                <option disabled selected value> -- Pilih Supplier -- </option>
                {% for row in supplier %}
                <option value="{{row.username}}">{{row.nama_organisasi}}</option>
                {% endfor %}
              </select>
            <br>
            
            <label class="label" for="pesanan">Tambah Pesanan Sumber Daya:</label>
            <br>

            <label class="label" for="no_urut">No. Urut:</label>
            <input class="form-control" type="text" placeholder="{{no_urut}}" aria-label="Disabled input example" disabled>
            <br>

            <br>
            <div class="item_sumber_daya" id="item_sumber_daya"></div>
            <br>

            {{form.as_p}}         
            
            <br><br>
            <input type="submit" value="Tambah" name="tombol" class="btn btn-primary btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#supplier").change(function(){
    var supplier = $("#supplier").val();

    $.ajax({
      url: '/getItem/' + supplier,
      success: function(table){
        $("#item_sumber_daya").empty();
        var query = "<label class='label' for='kode_item'>Item Sumber Daya:</label>";
        query += " <select class='form-control' name='kode_item' id='kode_item'>";
        query += " <option disabled selected value> -- Pilih Item Sumber Daya -- </option>";
        for(var i = 0; i<table.length; i++) {
          query += " <option value=" + String(table[i][0]) + ">" + String(table[i][0]) + "</option>";
        }
        query += "</select>";
        
        $("#item_sumber_daya").append(query);
      }
    })
  })
</script>

{% endblock content %}
