{% extends 'base.html' %}
{% load static %}

{% block title %}
Pesanan Sumber Daya
{% endblock title %}


{% block content %}

<div style="height: 40px;"></div>
<h2 style="text-align: center;">Riwayat Pesanan Sumber Daya</h2>
<div style="height: 20px;"></div>

<div class="container">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">Nomor transaksi</th>
                <td>TOR{{ nomor }}</td>
            </tr>
        </tbody>

    </table>
</div>

<h4 class="mb-3 mt-5" style="margin-left: 12%;">Riwayat Status:</h4>
<div class="container">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="row">No. Urut</th>
                <th scope="row">Kode Status</th>
                <th scope="row">Status</th>
                <th scope="row">Username Supplier</th>
                <th scope="row">Tanggal Persetujuan</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ row.kode_status_pesanan }}</td>
                <td>{{ row.nama }}</td>
                <td>{{ row.username_supplier }}</td>
                <td>{{ row.tanggal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div style="text-align: center;">
    <a type="button" href="/pesanan/" class="btn btn-primary btn-lg">Kembali</a>
</div>

{% endblock content %}