{% extends 'base.html' %}
{% load static %}

{% block title %}
    Pesanan Sumber Daya
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Update Pesanan Sumber Daya</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">    
      <form method="POST" action="/updatePesanan/TOR{{nomor}}/">
        {% csrf_token %}
        
        <div class="card" style="width: 450px;">
          <div class="card-body">
            
            <br>
            <label class="label" for="nomor_transaksi">Nomor Transaksi:</label>
            <input class="form-control" type="text" placeholder="TOR{{nomor}}" aria-label="Disabled input example" disabled>
            <br>

            <label class="label" for="admin_satgas">Petugas:</label>
            <input class="form-control" type="text" placeholder="{{nama_petugas}}" aria-label="Disabled input example" disabled>
            <br>

            <label class="label" for="supplier">Pilih Supplier:</label>
            <input class="form-control" type="text" placeholder="{{supplier}}" aria-label="Disabled input example" disabled>
            <br>
            
            <label class="label" for="pesanan">Tambah Pesanan Sumber Daya:</label>
            <br>

            <label class="label" for="no_urut">No. Urut:</label>
            <input class="form-control" type="text" placeholder="{{no_urut}}" aria-label="Disabled input example" disabled>
            <br>

            <label class="label" for="kode_item">Kode Item Sumber Daya:</label>
            <select class="form-control" name="kode_item" id="kode_item">
              <option disabled selected value> -- Pilih Kode Item Sumber Daya -- </option>
              {% for row in kode_item %}
              <option value="{{row.kode}}">{{row.nama}}</option>
              {% endfor %}
            </select>

            {{form.as_p}}
            
            <br><br>
            <input type="submit" value="Tambah" name="tombol" class="btn btn-primary btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<h4 class="mb-3 mt-5" style="margin-left: 12%;">Daftar Pesanan Item:</h4>
<div class="container">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="row">No. Urut</th>
                <th scope="row">Item</th>
                <th scope="row">Harga Satuan</th>
                <th scope="row">Jumlah Item</th>
                <th scope="row">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in daftar_item %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ row.nama }}</td>
                <td>Rp.{{ row.harga_satuan }}</td>
                <td>{{ row.jumlah_item }}</td>
                <td><a href="/deleteItem/{{nomor}}/{{row.no_urut}}/" type="button" class="btn btn-outline-danger"><img style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div style="text-align: center;">
    <a type="button" href="/pesanan/" class="btn btn-primary btn-lg">Simpan</a>
</div>


{% endblock content %}
