{% extends 'base.html' %}
{% load static %}

{% block title %}
    Fasilitas Kesehatan
{% endblock title %}


{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Tambah Fasilitas Kesehatan</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">    
      <form  method="POST" action="/Faskes/CreateFaskes/">
        {% csrf_token %}
        
        <div class="card" style="width: 450px;">
          <div class="card-body">
            {{form.as_p}}

            <label class="label" for="id_lokasi">ID Lokasi:</label>
            <select class="form-control" name="id_lokasi" id="id_lokasi" >
              <option disabled selected value> -- Pilih ID lokasi -- </option>
              {% for row in id_lokasi %}
              <option value="{{row.id}}">{{row.id}}</option>
              {% endfor %}
            </select>
            
            <br>
            <div class="lokasi" id="lokasi"></div>
            
            <br>
            <label class="label" for="petugas_faskes">Petugas Faskes:</label>
            <select class="form-control" name="petugas_faskes" id="petugas_faskes">
              <option disabled selected value> -- Pilih petugas faskes -- </option>
              {% for row in petugas_faskes %}
              <option value="{{row.username}}">{{row.nama}}</option>
              {% endfor %}
            </select>

            <br>
            <label class="label" for="kode_tipe_faskes">Kode Tipe Faskes:</label>
            <select class="form-control" name="kode_tipe_faskes" id="kode_tipe_faskes">
              <option disabled selected value> -- Pilih kode tipe faskes -- </option>
              {% for row in kode_tipe_faskes %}
              <option value="{{row.kode}}">{{row.kode}}</option>
              {% endfor %}
            </select>

            <br>
            <div class="tipe_faskes" id="tipe_faskes"></div>
            
            <br><br>
            <input type="submit" value="Save" name="tombol" class="btn btn-primary btn-block">

          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#id_lokasi").change(function(){
    var id = $("#id_lokasi").val();
    console.log(id);

    $.ajax({
      url: '/getLokasi/' + id,
      success: function(table){
        $("#lokasi").empty();
        $("#lokasi").append("<label class='label' for='lokasi'>Lokasi:</label>" +
        "<textarea class='form-control' type='text' rows='3' placeholder='" + table[0][0] +"' aria-label='Disabled input example' disabled></textarea>");
      }
    })
  })

  $("#kode_tipe_faskes").change(function(){
    var tipe = $("#kode_tipe_faskes").val();
    
    $.ajax({
      url: '/getTipeFaskes/' + tipe,
      success: function(table){
        $("#tipe_faskes").empty();
        $("#tipe_faskes").append("<label class='label' for='tipe_faskes'>Tipe Faskes:</label>" +
        "<input class='form-control' type='text' placeholder='" + table[0][0] +"' aria-label='Disabled input example' disabled>");
      }
    })
  })
</script>

{% endblock content %}
