{% extends 'base.html' %}
{% load static %}

{% block title %}
    Kendaraan
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">FORM TAMBAH KENDARAAN</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">    
      <form  method="POST" action="/Kendaraan/CreateKendaraan/">
        {% csrf_token %}
        
        <div class="card" style="width: 450px;">
          <div class="card-body">
            {{form.as_p}}
            
            <br><br>
            <input type="submit" value="SIMPAN" name="tombol" class="btn btn-primary btn-block">

          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>

{% endblock content %}
