{% extends 'base.html' %}
{% load static %}

{% block title %}
Kendaraan
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Kendaraan</h2>
<div style="height: 20px;"></div>

<div class="container">
  {% if role_admin_satgas or role_petugas_distribusi %}
  {% if message != null %}
  <div class="card text-white bg-success">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}
  {% if role_admin_satgas %}
  <div style="height: 40px;"></div>
  <div style="text-align: center;">
    <a type="button" href="/Kendaraan/CreateKendaraan" class="btn btn-primary btn-lg">+ Add Kendaraan</a>
  </div>
  <div style="height: 20px;"></div>
  {% endif %}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="row">No.</th>
        <th scope="row">Nomor Kendaraan</th>
        <th scope="row">Nama</th>
        <th scope="row">Jenis Kendaraan</th>
        <th scope="row">Berat Maksimum (kg)</th>
        {% if role_admin_satgas %}
        <th scope="row">Edit</th>
        <th scope="row">Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <td>{{ row.no }}</td>
        <td>{{ row.nomor }}</td>
        <td>{{ row.nama }}</td>
        <td>{{ row.jenis_kendaraan }}</td>
        <td>{{ row.berat_maksimum }}</td>

        {% if role_admin_satgas %}

        {% if row.kode_status_batch_pengiriman == "DLV" %}
        <td><a href="/updateKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-warning"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a></td>
        <td><a href="/deleteKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-danger"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a></td>
        {% endif %}

        {% if row.kode_status_batch_pengiriman == "HLG" %}
        <td><a href="/updateKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-warning"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a></td>
        <td><a href="/deleteKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-danger"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a></td>
        {% endif %}

        {% if row.kode_status_batch_pengiriman == "RET" %}
        <td><a href="/updateKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-warning"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a></td>
        <td><a href="/deleteKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-danger"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a></td>
        {% endif %}

        {% if row.kode_status_batch_pengiriman == "PEN" %}
        <td><a href="/updateKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-warning"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a></td>
        <td><a href="/deleteKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-danger"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a></td>
        {% endif %}

        {% if row.kode_status_batch_pengiriman == "-" %}
        <td><a href="/updateKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-warning"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a></td>
        <td><a href="/deleteKendaraan/{{row.nomor}}" type="button" class="btn btn-outline-danger"><img
              style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a></td>
        {% endif %}

        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock content %}