{% extends 'base.html' %}
{% load static %}

{% block title %}
    Kendaraan
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">FORM UBAH KENDARAAN</h2>
<div style="height: 20px;"></div>
<div class="container">
  {% if message != "" %}
  <div class="card text-white bg-dark">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}

  <div class="row justify-content-center">
    <div class="login">
      <div class="card" style="width: 450px;">
        <div class="card-body">
            <form  method="POST" action="/updateKendaraan/{{nomor_lama}}">
                {% csrf_token %}
            

            <div class="card" style="width: 450px;">
                <div class="card-body">
                  {{form.as_p}}
                  
                  <br><br>
                  <input type="submit" value="SIMPAN" name="tombol" class="btn btn-primary btn-block">
      
                </div>
              </div>

          </form>
        </div>
      </div>    
    </div>
  </div>
</div>

{% endblock content %}
