{% extends 'base.html' %}
{% load static %}

{% block title %}
Batch Pengiriman
{% endblock title %}


{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            /* right: 15px; */
            border: 3px solid #f1f1f1;
            z-index: 20;
            overflow-y: scroll;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 1000px;
            max-height: 600px;
            padding: 10px;
            background-color: white;
        }

        /* Full-width input fields */
        .form-container input[type=text],
        .form-container input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus,
        .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Set a style for the submit/login button */
        .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover,
        .open-button:hover {
            opacity: 1;
        }

        .btnlook {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            text-decoration: none;

            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }
    </style>

</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">FORM BATCH PENGIRIMAN
</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

    <div class="row justify-content-center">
        <div class="login">
            <form method="POST" action="/createBatchPengiriman/{{no_transaksi_sumber_daya}}/{{no_kendaraan}}/{{p_distribusi}}">
                {% csrf_token %}

                <div class="card" style="width: 450px;">
                    <div class="card-body">
                        {%for row in petugas_satgas %}
                        <label class="label" for="petugas_satgas">Petugas Satgas:</label>
                        <input class="form-control" name="petugas_satgas" id="petugas_satgas" type="text" placeholder="{{row.nama}} "
                            aria-label="Disabled input example" readonly="readonly" value="{{row.username}}">
                        <br>
                        {% endfor %}

                        <!-- <label class="label" for="petugas_satgas">Petugas Satgas:</label>
                        <select class="form-control" readonly="readonly" name="petugas_satgas" id="petugas_satgas">
                            {% for row in petugas_satgas %}
                            <option selected value="{{row.username}}">{{row.nama}}</option>
                            {% endfor %}
                        </select> -->

                        <label class="label" for="no_transaksi_sumber_daya">Nomor Transaksi Sumber Daya:</label>
                        <input class="form-control" name="no_transaksi_sumber_daya" id="no_transaksi_sumber_daya"
                            type="text" placeholder="{{no_transaksi_sumber_daya}}" aria-label="Disabled input example"
                            readonly="readonly">
                        <br>

                        <label class="label" for="kode_batch">Kode Batch:</label>
                        <select class="form-control" readonly="readonly" name="kode_batch" id="kode_batch">
                            {% for row in kode_batch %}
                            <option selected value="{{row.kode}}">{{row.kode}}</option>
                            {% endfor %}
                        </select>


                        <br>

                        <h6>Nama Kendaraan :</h6>
                        <div class="open-button btnlook" onclick="openForm()">
                            Pilih Kendaraan
                        </div>

                        <label class="label" for="no_kendaraan"></label>
                         <input class="form-control" type="text" placeholder="{{no_kendaraan}}" aria-label="Disabled input example" readonly="readonly">
            

                        <br>
                        <h6>Petugas Distribusi :</h6>
                        <div class="open-button btnlook" onclick="openForm2()">
                            Pilih Petugas Distribusi
                        </div>
                        <label class="label" for="p_distribusi"></label>
                        <input class="form-control" type="text" placeholder="{{p_distribusi}}" aria-label="Disabled input example" readonly="readonly">
           

                        <br> 
                        <!-- <label class="label" for="petugas_distribusi">Pilih Petugas Distribusi:</label>
                        <select class="form-control" name="petugas_distribusi" id="petugas_distribusi">
                            <option disabled selected value> -- Pilih nama petugas distribusi -- </option>
                            {% for row in petugas_distribusi %}
                            <option value="{{row.petugas_distribusi}}">{{row.username}}</option>
                            {% endfor %}
                        </select> -->


                        <label class="label" for="id_lokasi_asal">Lokasi Asal Pengiriman:</label>
                        <select class="form-control" name="id_lokasi_asal" id="id_lokasi_asal">
                            <option disabled selected value> -- Pilih Lokasi Asal Pengiriman -- </option>
                            {% for row in id_lokasi_asal %}
                            <option value="{{row.id}}">{{row.id_lokasi_asal}}</option>
                            {% endfor %}
                        </select>

                        <label class="label" for="id_lokasi_tujuan">Lokasi Tujuan Pengiriman:</label>
                        <select class="form-control" name="id_lokasi_tujuan" id="id_lokasi_tujuan">
                            <option disabled selected value> -- Pilih Lokasi Tujuan Pengiriman -- </option>
                            {% for row in id_lokasi_tujuan %}
                            <option value="{{row.id}}">{{row.id_lokasi_tujuan}}</option>
                            {% endfor %}
                        </select>

                        <br><br>
                        <input type="submit" value="Tambah" name="tombol" class="btn btn-primary btn-block">

                    </div>
                </div>

            </form>
            <br><br>


            <div style="text-align: center;">
                <h2>Daftar Batch Pengiriman</h2>
            </div>
            <div style="height: 20px;"></div>

            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="row">Kode Batch</th>
                        <th scope="row">Kendaraan</th>
                        <th scope="row">Petugas Distribusi</th>
                        <th scope="row">Asal</th>
                        <th scope="row">Tujuan</th>

                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                    <tr>
                        <td>{{ row.kode }}</td>
                        <td>{{ row.namaa }}</td>
                        <td>{{ row.petugas }}</td>
                        <td>{{ row.id_lokasi_asal }}</td>
                        <td>{{ row.id_lokasi_tujuan }}</td>

                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>



                        <input type="submit" value="Simpan" name="tombol" class="btn btn-primary btn-block">



        </div>
    </div>
</div>



<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h5>Pilih Kendaraan</h5>

        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="row">Jenis</th>
                    <th scope="row">Nama Kendaraan</th>
                    <th scope="row">Nomor Kendaraan</th>
                    <th scope="row">Berat Maksimum</th>
                    <th scope="row">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in hasil_kendaraan %}
                <tr>
                    <td>{{ row.jenis_kendaraan }}</td>
                    <td id="userInput">{{ row.nama }}</td>
                    <td>{{ row.nomor }}</td>
                    <td>{{ row.berat_maksimum }}</td>
                    <td><a href="/createBatchPengiriman/{{no_transaksi_sumber_daya}}/{{row.nomor}}"> <button type="button" class="btn"
                                onclick="closeForm(); othername()">Pilih</button></a>
                        </a></td>

                    <!-- <option value="{{row.nama_kendaraan}}">{{row.nama}}</option> -->

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--         
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn">Login</button> -->
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

    </form>
</div>

<div class="form-popup" id="myForm2">
    <form action="/action_page.php" class="form-container">
        <h5>Pilih Petugas Distribusi</h5>

        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="row">Nama</th>
                    <th scope="row">Nomor SIM</th>
                    <th scope="row">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in hasil_petugas %}
                <tr>
                    <td>{{ row.nama }}</td>
                    <td>{{ row.no_sim }}</td>
                    <td><a href="/createBatchPengiriman/{{no_transaksi_sumber_daya}}/{{no_kendaraan}}/{{row.username}}"> <button type="button" class="btn"
                        onclick="closeForm(); othername()">Pilih</button></a>
                </a></td>


                </tr>
                {% endfor %}
            </tbody>
        </table>


        <!--         
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn">Login</button> -->
        <button type="button" class="btn cancel" onclick="closeForm2()">Close</button>

    </form>
</div>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }

    function openForm2() {
        document.getElementById("myForm2").style.display = "block";
    }

    function closeForm2() {
        document.getElementById("myForm2").style.display = "none";
    }
    function othername() {
        var input = document.getElementById("userInput");
        a = input.innerText;
        document.getElementById('my-input').value = a;

    }
</script>

{% endblock content %}
