{% extends 'base.html' %}
{% load static %}

{% block title %}
Batch Pengiriman
{% endblock title %}


{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            /* right: 15px; */
            border: 3px solid #f1f1f1;
            z-index: 20;
            overflow-y: scroll;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 1000px;
            max-height: 600px;
            padding: 10px;
            background-color: white;
        }

        /* Full-width input fields */
        .form-container input[type=text],
        .form-container input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus,
        .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Set a style for the submit/login button */
        .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover,
        .open-button:hover {
            opacity: 1;
        }

        .btnlook {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            text-decoration: none;

            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }
    </style>

</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">DETAIL BATCH PENGIRIMAN
</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

    <div class="row justify-content-center">
        <div class="login">
            
            <br><br>

            <div style="text-align: center;">
                <h2>Detail Batch Pengiriman</h2>
            </div>
            <div style="height: 20px;"></div>

            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="row">Kode Batch</th>
                        <th scope="row">Kendaraan</th>
                        <th scope="row">Petugas Distribusi</th>
                        <th scope="row">Asal</th>
                        <th scope="row">Tujuan</th>

                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                    <tr>
                        <td>{{ row.kode }}</td>
                        <td>{{ row.namaa }}</td>
                        <td>{{ row.username_petugas_distribusi }}</td>
                        <td>{{ row.id_lokasi_asal }}</td>
                        <td>{{ row.id_lokasi_tujuan }}</td>

                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>






        </div>
    </div>
</div>





{% endblock content %}