<!-- {% extends 'base.html' %}
{% load static %}

{% block title %}
    Batch Pengiriman
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Tambah Batch Pengiriman</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">    
      <form  method="POST" action="/createBatchPengiriman/{{no_transaksi_sumber_daya}}">
        {% csrf_token %}
        
        <div class="card" style="width: 450px;">
          <div class="card-body">
            {%for row in hasil %}
            <label class="label" for="nama">Nama:</label>
            <input class="form-control" name="nama" id="nama" type="text" placeholder="{{row.nama}}" aria-label="Disabled input example" disabled>
            <br>
            {% endfor %}

            <label class="label" for="no_transaksi_sumber_daya">Nomor Transaksi Sumber Daya:</label>
            <input class="form-control" name="no_transaksi_sumber_daya" id="no_transaksi_sumber_daya" type="text" placeholder="{{no_transaksi_sumber_daya}}" aria-label="Disabled input example" disabled>
            <br>

            <label class="label" for="kode_batch">Kode Batch:</label>
            <select class="form-control" readonly="readonly"  name="kode_batch" id="kode_batch" >
              {% for row in kode_batch %}
              <option selected value="{{row.kode_batch}}">{{row.kode}}</option>
              {% endfor %}
            </select>


            <br>
            <label class="label" for="nama_kendaraan">Nama kendaraan:</label>
            <select class="form-control" name="nama_kendaraan" id="nama_kendaraan">
              <option disabled selected value> -- Pilih nama kendaraan -- </option>
              {% for row in nama_kendaraan %}
              <option value="{{row.nama_kendaraan}}">{{row.nama}}</option>
              {% endfor %}
            </select>

            <label class="label" for="petugas_distribusi">Pilih Petugas Distribusi:</label>
            <select class="form-control"  name="petugas_distribusi" id="petugas_distribusi" >
                <option disabled selected value> -- Pilih nama petugas distribusi -- </option>
                {% for row in petugas_distribusi %}
              <option value="{{row.petugas_distribusi}}">{{row.username}}</option>
              {% endfor %}
            </select>

            <label class="label" for="id_lokasi_asal">Lokasi Asal Pengiriman:</label>
            <select class="form-control"  name="id_lokasi_asal" id="id_lokasi_asal" >
                <option disabled selected value> -- Pilih Lokasi Asal Pengiriman -- </option>
                {% for row in id_lokasi_asal %}
              <option value="{{row.id_lokasi_asal}}">{{row.id_lokasi_asal}}</option>
              {% endfor %}
            </select>

            <label class="label" for="id_lokasi_tujuan">Lokasi Tujuan Pengiriman:</label>
            <select class="form-control"  name="id_lokasi_tujuan" id="id_lokasi_tujuan" >
                <option disabled selected value> -- Pilih Lokasi Tujuan Pengiriman -- </option>
                {% for row in id_lokasi_tujuan %}
              <option value="{{row.id_lokasi_tujuan}}">{{row.id_lokasi_tujuan}}</option>
              {% endfor %}
            </select>

            <br><br>
            <input type="submit" value="Tambah" name="tombol" class="btn btn-primary btn-block">


           



          </div>
        </div>
        
      </form>

      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
              <th scope="row">Kode Batch</th>
              <th scope="row">Kendaraan</th>
              <th scope="row">Petugas Distribusi</th>
              <th scope="row">Asal</th>
              <th scope="row">Tujuan</th>
          </tr>
        </thead>
        <tbody>
        {% for row in table %}
          <tr>
            <td>{{ row.kode }}</td>
            <td>{{ row.namaa }}</td>
            <td>{{ row.username_petugas_distribusi }}</td>
            <td>{{ row.id_lokasi_asal }}</td>
            <td>{{ row.id_lokasi_tujuan }}</td>
            
            </td>
            
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %} -->
