{% extends 'base.html' %}
{% load static %}

{% block title %}
Permohonan Sumber Daya
{% endblock title %}


{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Tambah Permohonan Sumber Daya</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h5 class="message" style="text-align: center; color: red;">{{ message }}</h5>
    <br>
    <div class="row justify-content-center">
        <div class="login">
            <form method="POST" action="/PermohonanSumberDaya/buatPermohonan">
                {% csrf_token %}

                <div class="card" style="width: 450px;">
                    <div class="card-body">
                        <label class="label" for="no_transaksi_sumber_daya">Nomor Transaksi</label>
                        <select class="form-control" name="no_transaksi_sumber_daya" id="no_transaksi_sumber_daya" disabled>
                            <!-- <option disabled selected value> -- Pilih Kode Item -- </option> -->
                            <option value="{{ no_transaksi_sumber_daya }}">{{ no_transaksi_sumber_daya }}</option>
                        </select>
                        
                        <br>

                        <label class="label" for="nama_supplier">Petugas</label>
                        <select class="form-control" name="nama_supplier" id="nama_supplier" disabled>
                            <!-- <option disabled selected value> -- Pilih Kode Item -- </option> -->
                            <option value="{{ nama_supplier }}">{{ nama_supplier }}</option>
                        </select>

                        <br>

                        <label class="label" for="no_urut">No Urut</label>
                        <select class="form-control" name="kode_tipe_item" id="kode_tipe_item" disabled>
                            <option value="{{ no_urut }}">{{ no_urut }}</option>
                        </select>

                        <br>

                        <label class="label" for="kode_tipe_item">Kode Item</label>
                        <select class="form-control" name="kode_tipe_item" id="kode_tipe_item">
                            <option disabled selected value> -- Pilih Kode Item -- </option>
                            {% for row in kode_tipe_item %}
                            <option value="{{row.kode}}">{{row.kode}}</option>
                            {% endfor %}
                        </select>

                        {{form.as_p}}

                        <br>
                        <div class="kode_tipe" id="kode_tipe"></div>

                        <br>

                        <input type="submit" value="Save" name="tombol" class="btn btn-primary btn-block">

                    </div>
                </div>
                <br><br>
            </form>
            <br>
        </div>
    </div>
</div>


{% endblock content %}