{% extends 'base.html' %}
{% load static %}

{% block title %}
Permohonan Sumber Daya
{% endblock title %}


{% block content %}

<div style="height: 40px;"></div>
<h2 style="text-align: center;">Detail Permohonan Sumber Daya</h2>
<div style="height: 20px;"></div>

<div class="container">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">Nomor transaksi</th>
                {% for row in table %}
                <td>{{ row.no_transaksi_sumber_daya }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Petugas</th>
                {% for row in table %}
                <td>{{ row.username_petugas_faskes }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Tanggal</th>
                {% for row in table %}
                <td>{{ row.tanggal }}</td>
                {% endfor %}
            </tr>
        </tbody>

    </table>
</div>

<h4 class="mb-3 mt-5" style="margin-left: 12%;">Daftar Item:</h4>
<div class="container">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="row">No. Urut</th>
                <th scope="row">Item</th>
                <th scope="row">Jumlah Item</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table1 %}
            <tr>
                <td>{{ row.no_urut }}</td>
                <td>{{ row.nama }}</td>
                <td>{{ row.jumlah_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h6 class="mb-5 mt-5" style="margin-left: 12%;"><b>Catatan:</b> {% for row in table %} {{ row.catatan }} {% endfor %}</h6>

<div style="text-align: center;">
    <a type="button" href="/PermohonanSumberDaya/" class="btn btn-primary btn-lg">Kembali</a>
</div>

{% endblock content %}