{% extends 'base.html' %}
{% load static %}

{% block title %}
Permohonan Sumber Daya
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Permohonan Sumber Daya</h2>
<div style="height: 20px;"></div>

<div class="container">
  {% if message != null %}
  <div class="card text-white bg-success">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}
  {% if role_petugas_faskes %}
  <div style="height: 40px;"></div>
  <div style="text-align: center;">
      <a type="button" href="/PermohonanSumberDaya/buatPermohonan" class="btn btn-primary btn-lg">Tambah Permohonan</a>
  </div>
  <div style="height: 20px;"></div>
  {% endif %}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="row">No. Transaksi</th>
        <th scope="row">Kode Faskes</th>
        <th scope="row">Tanggal Dibuat</th>
        <th scope="row">Total Berat (kg)</th>
        <th scope="row">Total Item</th>
        <th scope="row">Catatan</th>
        <th scope="row">Status</th>
        <th scope="row">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <td>{{ row.no_transaksi_sumber_daya }}</td>
        <td>{{ row.kode_faskes_nasional }}</td>
        <td>{{ row.tgl }}</td>
        <td>{{ row.total_berat }}</td>
        <td>{{ row.total_item }}</td>
        <td>{{ row.catatan }}</td>
        <td>{{ row.kode_sp }}</td>
        <td style="padding-bottom: 2%; padding-top: 1%;"><a
            href="/detailPermohonan/{{ row.no_transaksi_sumber_daya }}/{{ row.kode_sp }}" type="button"
            class="btn btn-primary" style="margin-bottom: 3%;">Detail</a>
          <a href="/riwayatStatus/{{ row.no_transaksi_sumber_daya }}" type="button" class="btn btn-primary" style="margin-bottom: 3%;">Riwayat Status</a>

          {% if role_admin_satgas %}
          {% if row.kode_sp == "REQ" %}
          <a href="/buatRiwayatStatus/{{ row.no_transaksi_sumber_daya }}/{{ row.kode_sp }}/reject" type="button" class="btn btn-danger">Reject</a>
          <a href="/buatRiwayatStatus/{{ row.no_transaksi_sumber_daya }}/{{ row.kode_sp }}/process" type="button" class="btn btn-warning">Process</a>
          {% endif %}
          {% if row.kode_sp == "PRO" %}
          <a href="/buatRiwayatStatus/{{ row.no_transaksi_sumber_daya }}/{{ row.kode_sp }}/selesaidenganmasalah" type="button" class="btn btn-warning" style="margin-bottom: 3%;">Selesai dengan masalah</a>
          <a href="/buatRiwayatStatus/{{ row.no_transaksi_sumber_daya }}/{{ row.kode_sp }}/selesai" type="button" class="btn btn-success">Selesai</a>
          {% endif %}
          {% endif %}

          {% if role_petugas_faskes %}
          {% if row.kode_sp == "REQ" %}
          <a href="/updatePermohonan/{{row.no_transaksi_sumber_daya}}/{{row.nama}}/{{row.no_urut}}/{{row.kode}}"
            type="button" class="btn btn-warning">EDIT</a>
          <a href="/deletePermohonanSD/{{row.no_transaksi_sumber_daya}}" type="button"
            class="btn btn-outline-danger"><img style="width:25px;"
              src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a>
          {% endif %}
          {% endif %}

          {% endfor %}

        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}