{% extends 'base.html' %}
{% load static %}

{% block title %}
Permohonan Sumber Daya
{% endblock title %}


{% block content %}

<div style="height: 40px;"></div>
<h2 style="text-align: center;">Riwayat Status Permohonan Sumber Daya</h2>
<div style="height: 20px;"></div>

<div class="container">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">Nomor transaksi</th>
                <td>{{ no_transaksi_sumber_daya }}</td>
            </tr>
        </tbody>

    </table>
</div>

<h4 class="mb-3 mt-5" style="margin-left: 12%;">Riwayat Status:</h4>
<div class="container">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="row">No</th>
                <th scope="row">Kode Status</th>
                <th scope="row">Status</th>
                <th scope="row">Username Admin Satgas</th>
                <th scope="row">Tanggal Persetujuan</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <td>{{ row.no }}</td>
                <td>{{ row.kode_status_permohonan }}</td>
                <td>{{ row.nama }}</td>
                <td>{{ row.username_admin }}</td>
                <td>{{ row.tanggal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div style="text-align: center;">
    <a type="button" href="/PermohonanSumberDaya/" class="btn btn-primary btn-lg">Kembali</a>
</div>

{% endblock content %}