{% extends 'base.html' %}
{% load static %}

{% block title %}
Permohonan Sumber Daya
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Ubah Permohonan Sumber Daya</h2>
<div style="height: 20px;"></div>
<div class="container">
    {% if message != "" %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{message}}
        </div>
    </div>
    {% endif %}
    <br>
    <div class="row justify-content-center">
        <div class="login">
            <div class="card" style="width: 450px;">
                <div class="card-body">
                    <form method="POST" action="/updatePermohonan/no_transaksi_sumber_daya/nama/no_urut/kode">
                        {% csrf_token %}

                        <p>
                        <div class="loginForm">{{form.as_p}}</div>
                        </p>
                        <br>
                        <div style="text-align: center;">
                            <input type="submit" value="Update" name="tombol" class="mybutton">
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="row">No. Urut</th>
                    <th scope="row">Item</th>
                    <th scope="row">Jumlah Item</th>
                    <th scope="row">Hapus</th>
                </tr>
            </thead>
            <tbody>
                {% for row in daftar_item_new %}
                <tr>
                    <td>{{ row.no_urut }}</td>
                    <td>{{ row.nama }}</td>
                    <td>{{ row.jumlah_item }}</td>
                    <!-- buat new button delete ke views baru untuk delete daftar_item -->
                    <td><a href="/#" type="button" class="btn btn-primary" style="margin-bottom: 3%;"><img
                                style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- buat new button save buat nambahin ke permohonan -->
    <input type="submit" value="Save" name="tombol" class="btn btn-primary btn-block">
</div>

{% endblock content %}