{% extends 'base.html' %}
{% load static %}

{% block title %}
Lokasi
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">FORM UBAH LOKASI</h2>
<div style="height: 20px;"></div>
<div class="container">
    {% if message != "" %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{message}}
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="login">
            <div class="card" style="width: 450px;">
                <div class="card-body">
                    <form method="POST" action="/updateLokasi/{{id_lokasi}}">
                        {% csrf_token %}


                        <div class="card" style="width: 450px;">
                            <div class="card-body">
                                <label class="label" for="id_lokasi">Id:</label>
                                <input class="form-control" name="id_lokasi" id="id_lokasi" type="text" placeholder="{{id_lokasi}}"
                                    aria-label="Disabled input example" disabled>
                                <br>

                                {{form.as_p}}

                                <br><br>
                                <input type="submit" value="SIMPAN" name="tombol" class="btn btn-primary btn-block">

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}