{% extends "base.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}

<html lang="en">
    {% load static %}

    {% block title %}Sign In{% endblock title %}


<body class="login_back area" style="height: 100vh;">

    <div class="divider"></div>
    <div class="container">
        <div class="row mainRow align-items-center justify-content-center">
            <div class="login">
                <div style="height: 40px;"></div>
                <h2 style="text-align: center;">Sign In</h2>
                <div style="height: 40px;"></div>
                <div class="card" style="width: 350px;">
                    <div class="card-body">
                        <form class="px-4 py-3" method="POST" action="/Home/">
                            {% csrf_token %}
                            <div class="loginForm">{{formlogin.as_table}}</div>
                            <br>
                            <input type="submit" value="Login" name="tombol" class="btn btn-primary btn-block">
                        </form>
                        <br>
                        <p class="text-center">Not a member? <a href="/Register/">Sign up now!</a>
                    </div>
                </div>
                
                {% if message != "" %}
                    <div class="card text-white bg-danger">
                      <div class="card-body">
                        {{message}}
                      </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
{% endblock %}
</html>
