{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
    {%for row in hasil %}
    <div class="container justify-content-center align-items-center">
      <div style="height: 40px;"></div>
      <h2 style="text-align: center;">My Profile</h2>
      <div style="height: 20px;"></div>
          <div class="container-fluid">
              <div class="col-md-8 offset-md-2 mt-5">
                    {%for row in hasil %}
                    <p class="userName"><b>{{row.nama}}</b></p>
                      {% if roleadmin_satgas %}
                        <p style="font-size: 24px;">Admin Satgas</p>
                      {% elif rolepetugas_faskes %}
                        <p style="font-size: 24px;">Petugas Faskes</p>
                      {% elif rolesupplier %}
                        <p style="font-size: 24px;">Supplier</p>
                      {% elif rolepetugas_distribusi %}
                        <p style="font-size: 24px;">Petugas Distribusi</p>
                      {% endif %}
                    <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Data</th>
                              <th scope="col">Keterangan</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr class="table-striped">
                          <th scope="row">Username</th>
                          <td>@{{row.username}}</td>
                        </tr>
                        <tr class="table-striped">
                          <th scope="row">No. Telepon</th>
                          <td>{{row.no_telepon}}</td>
                        </tr>
                        <tr class="table-striped">
                            <th scope="row">Kelurahan</th>
                            <td>{{row.alamat_kel}}</td>
                        </tr>
                        <tr class="table-striped">
                            <th scope="row">Kecamatan</th>
                            <td>{{row.alamat_kec}}</td>
                        </tr>
                        <tr class="table-striped">
                            <th scope="row">Kabupaten/Kota</th>
                            <td>{{row.alamat_kabkot}}</td>
                        </tr>
                        <tr class="table-striped">
                            <th scope="row">Provinsi</th>
                            <td>{{row.alamat_prov}}</td>
                        </tr>
        
                        {% if role_supplier %}
                        <tr class="table-striped">
                          <th scope="row">Nama Organisasi</th>
                          <td>{{nama_organisasi}}</td>
                        </tr>
                        {% endif %}

                        {% if role_petugas_distribusi %}
                        <tr class="table-striped">
                          <th scope="row">No. SIM</th>
                          <td>{{no_sim}}</td>
                        </tr>
                        {% endif %}

                      </tbody>
                  </table> 

                  </h5>
                  {% endfor %}
              </div>
          </div>      
    {% endfor %}
{% endblock content %}
