{% extends "base.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    {% block title %}Sign Up{% endblock title %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body class="login_back area">
  <div class="divider"></div>
      <div class="container-fluid">
        <div class="row mainRow align-items-center justify-content-center">
          <div class="login">
            <div style="height: 40px;"></div>
            <h2 style="text-align: center;">Sign Up</h2>
            <div style="height: 20px;"></div>      
            <br>

            {% if formrole %}
            <div class="container">
              <div class="row">
                <form method="POST" action="/RegisterRole/" >
                    {% csrf_token %}
                    <div class="loginForm">
                      <div style="height: 40px;"></div>
                      <h4 style="text-align: center;">Pilih Role</h4>
                      <div style="height: 40px;"></div>
                        <ul class="row justify-content-between" id="id_Role">
                          <div class="col mb-4">
                            <div class="card" style="width: 200px;">
                              <div class="card-body">
                                <img src="https://image.flaticon.com/icons/png/512/2416/2416666.png" class="card-img" alt="admin">
                              </div>
                              <div class="card-footer">
                                <h5><input type="radio" name="Role" value="admin_satgas" required="" id="id_Role_0"> Admin Satgas </h5><br>
                              </div>
                            </div>
                          </div>
                          <div class="col mb-4">
                            <div class="card" style="width: 200px;">
                              <div class="card-body">
                                <img src="https://image.flaticon.com/icons/png/512/2166/2166907.png" class="card-img-top" alt="supplier">
                              </div>
                              <div class="card-footer">
                                <h5><input type="radio" name="Role" value="supplier" required="" id="id_Role_1"> Supplier </h5><br>
                              </div>
                            </div>
                          </div>
                          <div class="col mb-4">
                            <div class="card" style="width: 200px;">
                              <div class="card-body">
                                <img src="https://image.flaticon.com/icons/png/512/2103/2103848.png" class="card-img-top" alt="petugas_distribusi">
                              </div>
                              <div class="card-footer">
                                <h5><input type="radio" name="Role" value="petugas_distribusi" required="" id="id_Role_2"> Petugas Distribusi</h5>
                              </div>
                            </div>
                          </div>
                          <div class="col mb-4">
                            <div class="card" style="width: 200px;">
                              <div class="card-body">
                                <img src="https://image.flaticon.com/icons/png/512/3461/3461720.png" class="card-img-top" alt="admin">
                              </div>
                              <div class="card-footer">
                                <h5><input type="radio" name="Role" value="petugas_faskes" required="" id="id_Role_3"> Petugas Faskes</h5>
                              </div>
                            </div>
                          </div>
                        </ul>
                    </div>
                    <br>
                    <div style="text-align: center;">
                      <input class="btn btn-primary btn-lg" type="submit" value="Register" name="tombol">
                    </div> 
                    <br><br>
                    <p class="text-center">Already have an account? <a href="/">Sign in now!</a></p>
                </form>
                {% endif %}
              </div>
            </div>
            
          <div class="container">
            
              {% if role_admin_satgas %}
              <form method="POST" action="/insertadmin_satgas/">
                {% csrf_token %}
                  <div class="loginForm">
                    <div class="card" style="width: 500px; margin-left: auto;margin-right: auto;">
                      <div class="card-body">
                        {{form.as_table}}
                        <br><br>
                        <input type="submit" value="Register" name="tombol" class="btn btn-primary btn-block">
                        <br>
                        <p class="text-center">Already have an account? <a href="/">Sign in now!</a></p>
                      </div>
                    </div>
                    <br>
                  </div>
              </form>    
              {% endif %}
              
              {% if role_petugas_distribusi %}
              <form method="POST" action="/insertpetugas_distribusi/" >
                {% csrf_token %}
                <div class="loginForm">
                  <div class="card" style="width: 500px; margin-left: auto;margin-right: auto;">
                    <div class="card-body">
                      {{form.as_table}}
                      <br><br>
                      <input type="submit" value="Register" name="tombol" class="btn btn-primary btn-block">
                      <br>
                      <p class="text-center">Already have an account? <a href="/">Sign in now!</a></p>
                    </div>
                  </div>
                  <br>
                </div>
              </form>    
              {% endif %}

              {% if role_petugas_faskes %}
              <form method="POST" action="/insertpetugas_faskes/" >
                {% csrf_token %}
                <div class="loginForm">
                  <div class="card" style="width: 500px; margin-left: auto;margin-right: auto;">
                    <div class="card-body">
                      {{form.as_table}}
                      <br><br>
                      <input type="submit" value="Register" name="tombol" class="btn btn-primary btn-block">
                      <br>
                      <p class="text-center">Already have an account? <a href="/">Sign in now!</a></p>
                    </div>
                  </div>
                  <br>
                </div>
              </form>    
              {% endif %}

              {% if role_supplier %}
              <form method="POST" action="/insertsupplier/" >
                {% csrf_token %}
                <div class="loginForm">
                  <div class="card" style="width: 500px; margin-left: auto;margin-right: auto;">
                    <div class="card-body">
                      {{form.as_table}}
                      <br><br>
                      <input type="submit" value="Register" name="tombol" class="btn btn-primary btn-block">
                      <br>
                      <p class="text-center">Already have an account? <a href="/">Sign in now!</a></p>
                    </div>
                  </div>
                  <br>
                </div>
              </form>   
              {% endif %}
          </div>
        
        </div>
        <p class="text-center" style="color: white;background-color: grey;border-radius: 7px;">{{message}}</p>
      </div>
    </div>
    <div class="divider"></div>


</body>
{% endblock %}
</html>
