{% extends 'base.html' %}
{% load static %}

{% block title %}
    Warehouse Satgas
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Warehouse Satgas</h2>
<div style="height: 20px;"></div>

<div class="container">
  {% if message != null %}
  <div class="card text-white bg-success">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}
    {% if role_admin_satgas %}
    <div style="height: 40px;"></div>
    <div style="text-align: center;">
        <a type="button" href="/WarehouseSatgas/CreateWarehouseSatgas" class="btn btn-primary btn-lg">+ Add Warehouse Satgas</a>
    </div>
    <div style="height: 20px;"></div>
    {% endif %}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
            <th scope="row">No.</th>
            <th scope="row">Provinsi</th>
            <th scope="row">Lokasi</th>
            {% if role_admin_satgas %}
            <th scope="row">Edit</th>
            <th scope="row">Delete</th>
            {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for row in table %}
      <tr>
            <td>{{ row.no }}</td>
            <td>{{ row.provinsi }}</td>
            <td>{{ row.lokasi }}</td>
            {% if role_admin_satgas %}
            <td><a href="/updateWarehouseSatgas/{{row.provinsi}}/{{row.id_lokasi}}" type="button" class="btn btn-outline-warning"><img style="width:25px;" src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a></td>
            <td><a href="/deleteWarehouseSatgas/{{row.id_lokasi}}" type="button" class="btn btn-outline-danger"><img style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a></td>
            {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
