{% extends 'base.html' %}
{% load static %}

{% block title %}
    Warehouse Satgas
{% endblock title %}


{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Ubah Warehouse Satgas</h2>
<div style="height: 40px;"></div>
<div class="container">
  {% if message != "" %}
  <div class="card text-white bg-dark">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}
<br>
  <div class="row justify-content-center">
    <div class="login">    
      <form  method="POST" action="/updateWarehouseSatgas/{{provinsi}}/{{id}}">
        {% csrf_token %}
        {{form.as_p}}
        <div class="card" style="width: 400px;">
          <div class="card-body">

            <label class="label" for="provinsi">Provinsi:</label>
            <input class="form-control" type="text" placeholder="{{provinsi}}" aria-label="Disabled input example" disabled>
            
            <br>
            <label class="label" for="id_lokasi">ID Lokasi:</label>
            <select class="form-control" name="id_lokasi" id="id_lokasi">
              <option disabled selected value> -- Pilih ID lokasi -- </option>
              {% for row in id_lokasi %}
              <option value="{{row.id}}">{{row.id}}</option>
              {% endfor %}
            </select>

            <br>
            <div class="lokasi" id="lokasi"></div>

            <br><br>
            <input type="submit" value="Save" name="tombol" class="btn btn-primary btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#id_lokasi").change(function(){
        var id_lokasi = $("#id_lokasi").val();

        $.ajax({
            url: '/getLokasiSatgas/' + id_lokasi,
            success: function(table_lokasi){
                $("#lokasi").empty();
                $("#lokasi").append("<label class='label' for='lokasi'>Lokasi:</label>" +
                "<textarea class='form-control' type='text' rows='3' placeholder='" + table_lokasi[0][1] +"' aria-label='Disabled input example' disabled></textarea>");
            }
              
        })
    })
</script>

{% endblock content %}
