{% extends 'base.html' %}
{% load static %}

{% block title %}
    Stok Faskes
{% endblock title %}


{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Update Stok Fasilitas Kesehatan</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">    
      <form method="POST" action="/updateStokFaskes/{{kode_faskes}}/{{kode_item_sumber_daya}}/">
        {% csrf_token %}
        
        <div class="card" style="width: 450px;">
          <div class="card-body">
            
            <br>
            <label class="label" for="kode_faskes">Kode Faskes:</label>
            <input class="form-control" type="text" placeholder="{{kode_faskes}}" aria-label="Disabled input example" disabled>
            <br>

            <label class="label" for="tipe_faskes">Faskes:</label>
            <input class="form-control" type="text" placeholder="{{tipe_faskes}}" aria-label="Disabled input example" disabled>
            <br>

            <label class="label" for="kode_item_sumber_daya">Kode Item:</label>
            <input class="form-control" type="text" placeholder="{{kode_item_sumber_daya}}" aria-label="Disabled input example" disabled>
            <br>

            <label class="label" for="item">Item Sumber Daya:</label>
            <input class="form-control" type="text" placeholder="{{item}}" aria-label="Disabled input example" disabled>
            <br>

            {{form.as_p}}
            
            <br><br>
            <input type="submit" value="Save" name="tombol" class="btn btn-primary btn-block">

          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>

{% endblock content %}
